<div class="sidebar">
  <div class="menu-top">
    <img class="logo" src="/assets/logoSideBar.png" alt="" />
    <div class="menu-item" (click)="navigateTo('home')">
      <span class="icon"><img src="assets/article.png" alt="" /></span>
      <span class="label">Accueil</span>
    </div>
    <div class="menu-item">
      <span class="icon"><img src="assets/library.png" alt="" /></span>
      <span class="label">Recherche</span>
    </div>
  </div>

  <div class="menu-bottom">
    <div class="menu-item">
      <span class="icon"><img src="assets/logout.png" alt="" /></span>
      <span class="label">Déconnexion</span>
    </div>
  </div>
</div>
